{% extends './base.html' %}

{% block body %}

<form class="agg_tareas" action="" method="post">

    <label for="tarea"> agregar tarea:</label>
    <input type="text"  name="tarea">

    <button type="submit">enviar</button>
</form>

<div class="posiciones">   
    <ul> 
        {% for tarea in tareas %}
        
        <div class="tarea-fila-card"> 
        
            <span 
                class="tarea-texto" 
                {% if tarea.completada %}
                    style="text-decoration: line-through; color: gray;"
                {% endif %}
            >
                {{ tarea.contenido }}
            </span>
            
            <div class="botones">
                <form class="boton" method="post" action="{{ url_for('eliminar_tarea', id_tarea = tarea.id) }}" >
                    <button type="submit">borrar</button>
                </form>

                <form method="post" action="{{ url_for('completar_tarea', tarea_id = tarea.id) }}">
                    <button class="boton" type="submit">
                        {% if tarea.completada %}
                            deshacer
                        {% else %}
                            marcar como completada  
                        {% endif %}
                    </button>
                </form>
            </div>
            
        </div> 

        {% endfor %}  
    </ul>
</div>


{% endblock %}