{% extends 'base.html' %}

{% block body %}
<div class="div_flex">
    <h2>Iniciar Sesión</h2>
    
    <form action="/login" method="POST" class="div_grid barra">
        <label for="nombre">Usuario:</label>
        <input type="text" id="nombre" name="nombre" required>
        
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Ingresar</button>
    </form>
    
    <p>¿No tienes cuenta? <a href="/crear-cuenta">Regístrate aquí</a></p>
</div>
{% endblock %}