{% extends './base.html' %}

{% block body %}
<div class="contenedor-tarjeta">
    <div class="tarea-fila-card" style="display: block; text-align: center;">
        <h2>Registro</h2>
        <form action="{{ url_for('registro_usuario') }}" method="post" style="display: flex; flex-direction: column; gap: 15px;">
            
            <input type="text" name="nombre" placeholder="Nombre de usuario" required style="padding: 8px;">
            <input type="password" name="contraseña" placeholder="Contraseña" required style="padding: 8px;">
            
            <div class="botones" style="justify-content: center;">
                <button type="submit">Registrarse</button>
            </div>
        </form>
        <p style="margin-top: 10px; font-size: 0.9em;">
            ¿Ya tienes cuenta? <a href="{{ url_for('login_usuario') }}">Inicia sesión</a>
        </p>
    </div>
</div>
{% endblock %}